<!DOCTYPE html>
<html>
  <title>Random Cute Dogs</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
    rel="stylesheet"
  />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

  <body ng-app="myApp">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark default-color">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#/!">WMS</a>

      <!-- Collapse button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#basicExampleNav"
        aria-controls="basicExampleNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://wildlifems.netlify.app/#!/tourism"
              >Tourism</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wildlifems.netlify.app/#!/stats"
              >Statistics</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://wildlifems.netlify.app/#!/parks"
              >National Parks</a
            >
          </li>
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              >Species(Existence)</a
            >
            <div
              class="dropdown-menu dropdown-primary"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="https://wildlifems.netlify.app/#!/species/normal"
                >Normal Species</a
              >
              <a
                class="dropdown-item"
                href="https://wildlifems.netlify.app/#!/species/endangered"
                >Endangered Species</a
              >
              <a
                class="dropdown-item"
                href="https://wildlifems.netlify.app/#!/species/vulnerable"
                >Vulnerable Species</a
              >
              <a
                class="dropdown-item"
                href="https://wildlifems.netlify.app/#!/species/rare"
                >Rare Species</a
              >
              <a
                class="dropdown-item"
                href="https://wildlifems.netlify.app/#!/species/endemic"
                >Endemic Species</a
              >
              <a
                class="dropdown-item"
                href="https://wildlifems.netlify.app/#!/species/extinct"
                >Extinct Species</a
              >
            </div>
          </li>
        </ul>
        <!-- Links -->
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
    <!-- Jumbotron -->
    <div
      class="card card-image"
      style="
        height: 100%;
        width: 100%;
        background-image: url(https://img.traveltriangle.com/blog/wp-content/uploads/2018/09/Phibsoo-Wildlife-Sanctuary-cover.jpg);
      "
    >
      <div class="text-white text-center rgba-stylish-strong py-5 px-4">
        <div class="py-5">
          <!-- Content -->

          <h2 class="card-title h2 my-4 py-2">Random Cute Dogs</h2>
          <p class="mb-4 pb-2 px-md-5 mx-md-5">
            Make up your day with these random cute dog pictures.
          </p>
        </div>
      </div>
    </div>
    <br /><br />

    <div class="container"></div>
    <br /><br />
    <!-- Default form login -->

    <!-- Default form login -->
    <br /><br />
    <!-- Footer -->
    <footer class="page-footer font-small blue-grey lighten-5">
      <div style="background-color: #21d156">
        <div class="container">
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h6 class="mb-0">Be an everyday hero, stop animal abuse.</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->

            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <!-- Content -->
            <h6 class="text-uppercase font-weight-bold">
              Wildlife Management System
            </h6>
            <hr
              class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              Wildlife Management System made with Angular JS, JQuery,
              Bootstrap.
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr
              class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <a class="dark-grey-text" href="#!">Tourism</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">Statistics</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">National Parks</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Contact</h6>
            <hr
              class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p><i class="fas fa-home mr-3"></i> India</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center text-black-50 py-3">
        © 2020 Copyright:
        <a class="dark-grey-text" href="https://wildlifems.netlify.app/">
          WMS</a
        >
      </div>
      <!-- Copyright -->
    </footer>
    <script>
      fetch("https://random.dog/woof.json?filter=mp4,webm")
        .then(function (response) {
          return response.json();
        })
        .then(function (data) {
          // This is the JSON from our response
          document.querySelector(".container").innerHTML =
            "<center><img class='img-fluid z-depth-2' width=500 src='" +
            data.url +
            "'></center>";
        })
        .catch(function (err) {
          // There was an error
          console.warn("Something went wrong.", err);
        });
    </script>
  </body>
</html>
